<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de viagem</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-main">
        <div class="container">
            <h1>Calculadora de viagem</h1>
            <h2 class="title-main">Criar Login</h2>
            <form action="{{ url_for('adicionar') }}" method="POST">
                <input type="text" name="nome" placeholder="Qual seu nome?" required>
                <input type="text" name="number" placeholder="Crie sua senha" required>
                <button class="btn-main">Criar</button>
            </form>
        </div>
    </div>
</body>

</html>